{% extends 'base.html'%}

{% block content %}
{% if not request.user.is_authenticated %}
<div style="margin-top: 30px">
    <form method="POST">
        {% csrf_token %}

        {% if error %}
        <p style="color: red"> {{error}} </p>
        {% endif %}

        <div style="margin-top: 30px" >
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div style="margin-top: 15px" >
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <button style="margin-top: 15px" type="submit"> Login </button>
    </form>
</div>

{% else %}
<p>You are already logged in, want to <a href='/logout/'> logout </a> ?</p>

{% endif %}
{% endblock %}